/* mobile navbar */
.bg-dark {
  display: none;
  background-color: #1f3b5d !important;
}

.sidenav {
  display: block;
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1f3b5d;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  color: #fff;
}

.sidenav .sidenav-link {
  margin: 0;
  padding: 6px 8px 6px 6px;
  text-align: center;
  text-decoration: none;
  font-size: .8em;
  color: #fff;
  display: block;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 25px;
  border-radius: 2px;
}

.sidenav .sidenav-link:hover {
  color: #1f3b5d;
  background-color: #fff;
}

.sidenav #sidebar-title {
  font-weight: lighter;
  color: #fff;
  text-align: center !important;
}

.sidenav #sidebar-subtitle {
  font-style: italic;
  color: #fff;
  text-align: center;
}

.nav-link {
  text-align: center;
}

.active a:hover {
  color: #f1f1f1;
}

.nav-item .nav-link {
  color: #fff !important;
}

.nav-item .nav-link:hover,
.nav-item .nav-link:focus {
  color: lightgrey !important;
}

.logo {
  width: 130px;
  height: 130px;
  margin: 20px auto;
  border: solid lightgrey 5px;
}

.navbar-brand {
  color: #fff !important;
}

/* hamburger menu animation */
.icon-bar {
	width: 30px;
	height: 4px;
	background-color: #fff;
	display: block;
	transition: all 0.2s;
	margin-top: 4px;
  border-radius: 2px;
}

.navbar-toggler {
  border: none;
  background: transparent !important;
  float: right;
}


.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

/* Media Queries */
@media only screen and (max-width: 960px) {
  .sidenav {
    display: none;
  }

  .main {
    margin-left: 0;
  }

  .navbar {
    display: block;
  }

  body {
    margin-top: 45px;
  }
}
